.card {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    padding: 16px;
    gap: 26px;
}

.balance {
    grid-column-start: 3;
    grid-column-end: 6;
}

.income {
    grid-column-start: 6;
    grid-column-end: 9;
}

.expense {
    grid-column-start: 9;
    grid-column-end: 12;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_img:hover {
    filter: brightness(100%);
    transform: scale(1.1);
    cursor: pointer;
}

.card_img:active {
    filter: brightness(60%);
    transform: scale(.9);
    cursor: pointer;
}

.items_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    background: linear-gradient(270.77deg, #441C58 0.5%, #000000 99.19%);
    border-radius: 12px;
}

.items_img img {
    width: 54px;
    height: 54px;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.card_subheader {
    font-size: 20px;
}

.text_amount {
    font-size: 23px;
}