.list_container {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(100px);
    border-radius: 16px;
    grid-column-start: 3;
    grid-column-end: 13;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list_header {
    font-size: 23px;
}

.list_content {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    gap: 1rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.list_img {
    width: 84px;
    height: 84px;
    background: linear-gradient(270.77deg, #441C58 0.5%, #000000 99.19%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 59.03px;
    height: 59.03px;
}

.list_text_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.text_title {
    font-size: 23px;
}

.text_amount {
    font-size: 20px;
}

.list_activity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;;
}

.btn_activity {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_activity:hover {
    transform: scale(1.1);
    filter: brightness(150%);
}

.btn_activity:active {
    transform: scale(0.9);
    filter: brightness(80%);
}

.btn_img {
    width: 48px;
    height: 48px;
}