.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0px 50px 40px;
    gap: 30px;

    position: absolute;
    width: 242px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #391B49;
    text-decoration: none;
}
a:active, a.active {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px;
    color: #391B49;
    text-decoration: none;
}