/* .content-wrapper {
  margin-left: 20rem;
  margin-top: 50px;
  margin-right: 40px;
}

h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #441C58;
} */