@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #391B49;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    /* overflow: hidden; */
}

html {
    background: url("./assets/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-left: 1rem;
    margin: 40px;
    gap: 13px;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 0px 50px 40px;
    gap: 30px;
    width: 242px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

a.active {
    font-weight: bold;
}

a:hover {
    transform: scale(1.1);
    filter: brightness(200%);
}

a:active {
    transform: scale(0.9);
    filter: brightness(10%);
}

.sidebar>a:last-child {
    position: absolute;
    bottom: 15%;
}

.features-menu {
    grid-column-start: 3;
    grid-column-end: 13;
}

.features-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    width: 100%;
}

.items-container {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    padding: 16px;
    gap: 26px;
}

.balance {
    grid-column-start: 3;
    grid-column-end: 6;
}

.income {
    grid-column-start: 6;
    grid-column-end: 9;
}

.expense {
    grid-column-start: 9;
    grid-column-end: 12;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add .items-img:hover {
    filter: brightness(100%);
    transform: scale(1.1);
    cursor: pointer;
}

.add .items-img:active {
    filter: brightness(60%);
    transform: scale(.9);
    cursor: pointer;
}

.overview {
    grid-column-start: 3;
    grid-column-end: 9;
}

.recent-transactions {
    grid-column-start: 9;
    grid-column-end: 13;
    display: flex;
    flex-direction: column;
}

.items-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-name {
    font-size: 20px;
}

.text-amount {
    font-size: 23px;
}

.items-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    background: linear-gradient(270.77deg, #441C58 0.5%, #000000 99.19%);
    border-radius: 12px;
}

.items-img img {
    width: 54px;
    height: 54px;
}

.overview-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-self: baseline;
}

.overview-select {
    width: 115px;
    background: linear-gradient(270deg, #441C58 0%, #000000 100%);
    border-radius: 6px;
    color: #fff;
    padding: 0 1rem;
    border: none;
}

.recent-transactions-content {
    display: flex;
    flex-direction: column;
    height: 365px;
    width: 100%;
    overflow-y: scroll;
}

.recent-transaction-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: baseline;
    gap: 1rem;
    padding: 1rem;
}

.recent-img-container {
    height: 52px;
    width: 52px;
    border-radius: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent-img-container>img {
    width: 40px;
    height: 40px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    gap: 1.5rem;
}

.content-wrapper>span {
    align-self: center;
}

.content-wrapper>div {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.text-amount-income {
    color: #2152FE;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.text-amount-expense {
    color: #FB1212;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.text-category {
    font-size: 20px;
}

.text-date {
    font-size: 13px;
    color: #757575;
}

/* Grid Setting */

/* Grid sm */
.grid-1-sm {
    grid-column-start: 1;
    grid-column-end: 4;
}
.grid-2-sm {
    grid-column-start: 2;
    grid-column-end: 5;
}
.grid-3-sm {
    grid-column-start: 3;
    grid-column-end: 6;
}
.grid-4-sm {
    grid-column-start: 4;
    grid-column-end: 7;
}
.grid-5-sm {
    grid-column-start: 5;
    grid-column-end: 9;
}
.grid-6-sm {
    grid-column-start: 6;
    grid-column-end: 10;
}
.grid-7-sm {
    grid-column-start: 7;
    grid-column-end: 11;
}
.grid-8-sm {
    grid-column-start: 8;
    grid-column-end: 12;
}
.grid-9-sm {
    grid-column-start: 9;
    grid-column-end: 13;
}

/* Grid md */
.grid-1-md {
    grid-column-start: 1;
    grid-column-end: 7;
}
.grid-2-md {
    grid-column-start: 2;
    grid-column-end: 8;
}
.grid-3-md {
    grid-column-start: 3;
    grid-column-end: 9;
}
.grid-4-md {
    grid-column-start: 4;
    grid-column-end: 10;
}
.grid-5-md {
    grid-column-start: 5;
    grid-column-end: 11;
}
.grid-6-md {
    grid-column-start: 6;
    grid-column-end: 12;
}
.grid-7-md {
    grid-column-start: 7;
    grid-column-end: 13;
}

/* Grid lg */
.grid-1-lg{
    grid-column-start: 1;
    grid-column-end: 11;
}

.grid-2-lg{
    grid-column-start: 2;
    grid-column-end: 12;
}

.grid-3-lg{
    grid-column-start: 3;
    grid-column-end: 13;
}

/* Grid xl */
.grid-xl {
    grid-column-start: 1;
    grid-column-end: 13;
}

/* Text Size */
.t-10 {
    font-size: 10px;
}

.t-13 {
    font-size: 13px;
}

.t-16 {
    font-size: 16px;
}

.t-20 {
    font-size: 20px;
}

.t-26 {
    font-size: 26px;
}

.t-32 {
    font-size: 32px;
}

.t-41 {
    font-size: 41px;
}

.t-52 {
    font-size: 52px;
}

/* text color */

.t-primary {
    color: #441C58;
}

.t-secondary {
    color: #757575;
}

.t-income {
    color: #2152FE;
}

.t-expense {
    color: #FB1212
}

/* text weight */

.t-w-bold {
    font-weight: bold;
}

.t-w-200 {
    font-weight: 200;
}

.t-w-300 {
    font-weight: 300;
}

.t-w-400 {
    font-weight: 400;
}

.t-w-500 {
    font-weight: 500;
}

/* Display Flex */

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-baseline {
    justify-content: baseline;
}

.justify-cemter {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}